@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <!-- Título de la sección del menú -->
    <div class="col-12 text-center mb-5">
        <h2 class="display-4">Nuestro Menú</h2>
        <p class="lead">Descubre nuestros deliciosos platos. ¡No te los puedes perder!</p>
    </div>

    <!-- Tarjetas del Menú -->
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="@Url.Content("~/images/bolddeverduras.png")" class="d-block w-100" alt="Bold_de_verduras">
            <div class="card-body">
                <h5 class="card-title">Plato 1</h5>
                <p class="card-text">Una deliciosa opción llena de sabor. Perfecta para disfrutar en cualquier ocasión.</p>
                <a href="https://drive.google.com/file/d/1Wf7U90O4aQZYITmyXJTpTy53FewVFzOM/view" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="@Url.Content("~/images/arrozvegetales.png")" class="d-block w-100" alt="arroz_vegetales">
            <div class="card-body">
                <h5 class="card-title">Plato 2</h5>
                <p class="card-text">Con una combinación única de ingredientes frescos y sabores exquisitos.</p>
                <a href="https://drive.google.com/file/d/16_TIq1uf-i2F-W_C0cwud-t3S7oTkWM6/view" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="@Url.Content("~/images/salsasyarroz.png")" class="d-block w-100" alt="salsas_veganas">
            <div class="card-body">
                <h5 class="card-title">Plato 3</h5>
                <p class="card-text">Plato tradicional con un toque innovador, ideal para compartir con amigos.</p>
                <a href="https://drive.google.com/file/d/1k-zZNAJzNLceHze1PdtUJd9vvbwHR_DE/view" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="@Url.Content("~/images/desayunosvegan.png")" class="d-block w-100" alt="desayunos_frescos_veganos">
            <div class="card-body">
                <h5 class="card-title">Plato 4</h5>
                <p class="card-text">Una opción perfecta para los amantes de la cocina creativa, con un sabor único.</p>
                <a href="https://drive.google.com/file/d/1udwJEWwbtYyrmHL4b5hJLSp72DBQIjcJ/view" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
    </div>
</div>